/node_modules

# generated bundle files
/out.js
/bundle
/dist
/assets
*.zip
spectral*.yml
spectral*.doc.html
/css
/fonts
/svg
yarn-error.log
/functions

# IDE files
/coverage
.idea

# generated json files
rules/*.json

# generated css from bootstrap-italia
src/bootstrap-italia-custom.min.css
