/**
 * APICanvasPanel.css
 */

.apiCanvas.table {
  border-collapse: separate;
  border-spacing: 0;
  font-size: 0.9rem;
}

.apiCanvas .thead-light th {
  background-color: #f0f6ff;
  border-bottom: 2px solid #0066cc;
  color: #33485c;
}

.apiCanvas td {
  border-bottom: 1px solid #dee2e6;
  color: #33485c;
}

.apiCanvas .text-muted {
  color: #adb5bd !important;
  font-style: italic;
}

.apiCanvas table td:first-child {
  font-weight: 600;
  color: #0066cc;
  background-color: #fcfdff;
}

.apiCanvas code {
  font-size: 85%;
  color: #d63384;
}
