name: CD (commit on master)

on:
  push:
    branches:
      - master
    paths-ignore:
      - '*.md'

jobs:
  deploy:
    runs-on: 'ubuntu-20.04'

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '16'
          check-latest: true
          cache: yarn
      - name: Test rules
        run: |
          make test
      - name: Build ui, test ui and deploy
        run: |
          git remote set-url origin https://git:${GITHUB_TOKEN}@github.com/italia/api-oas-checker.git
          make deploy
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
