name: CI (PR on master)

on:
  pull_request:
    branches:
      - master

jobs:
  test:
    runs-on: 'ubuntu-20.04'

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '16'
          check-latest: true
      - name: Test rules
        run: |
          make test
      - name: Build ui and test ui
        run: |
          make all