name: CI Extra (PR on master)

on:
  pull_request:
    branches:
      - master
    paths-ignore:
      - '*.md'

jobs:
  test:
    runs-on: 'ubuntu-20.04'

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '16'
          check-latest: true
          cache: yarn
      - name: Extra tests
        run: |
          make ittest
